a:hover {
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

.planet-descr p {
    color: white;
    font-size: 21px;
}

.app:before {
    position: fixed;
    content: '';
    display: block;
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(5px);
    z-index: -10;
}

.back {
    text-transform: uppercase;
    font-size: 20px;
}

.pagination {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.pagination-btn {
    display: block;
}

.spinner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}